.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 10px;
}

.nav-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 100px;
  a {
    text-decoration: none;
    color: #123456;
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .input-wrapper {
//   margin: 20px 0;
  
//   input {
//     display: block;
//     width: 200px;
//     height: 30px;
//     margin-bottom: 20px;
//   }

//   textarea {
//     height: 100px;
//   }
// }


.product-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);

  .product-item {
    display: grid;
    align-content: space-between;
    padding: 30px;
    background-color: rgba(0,0,0,.05);

    h2 {
      margin: 0 0 10px;
    }

    .review-list {
      display: grid;
      margin-top: 50px;
      .review-list-title {
        margin-bottom: 10px;
        font-weight: 600;
      }
      p {
        margin: 5px 0;
        font-size: 14px;
      }
      .review-button {
        margin: 20px auto 0;
      }
    }
  }
}





.message {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  justify-self: start;
  min-width: 300px;
  max-width: 70%;
}

.message::after {
  content: "";
  clear: both;
  display: table;
}

.right {
  justify-self: end;
  background: #05728f;
  color: white;
}

.message .avatar {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.icon {
  width: 10px;
  margin-right: 5px;
}

.hover {
  cursor: pointer;
}

img {
  width: 50px;
}

.message-text {
  word-wrap: break-word;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

header, .message-list {
  border: 1px solid #c4c4c4;
  background-color: white;
  box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.message-list {
  grid-area: 2/1/3/2;
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  display: grid;
  align-content: start;
}

.delete:hover, .edit:hover {
    text-decoration: underline;
}

.delete, .edit {
    margin-left: 5px;
    visibility: hidden;
    float: right;
}



.message:hover .delete, .message:hover .edit {
    visibility: visible;
}

button {
  background-color: #05728f;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.message-input {
    grid-area: 3/1/4/2;
    align-self: end;
}

.send-message-button {
    background: #05728f;
    border: 2px solid #05728f;
    margin: auto;
    display: block;
    width: 200px;
}

input, select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}